@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.bg-primary {
    transition: all 0.3s ease-in-out;
    @apply bg-neutral-100 dark:bg-slate-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-slate-800 dark:text-white;
}

a {
    @apply text-slate-900 dark:text-white;
}

p {
    @apply text-slate-900 dark:text-white;
}

span {
    @apply text-slate-900 dark:text-white;
}

// 다크모드 토글
#toggle-mode-cb {
    display: none;
}

#toggle-mode {
    .toggle-border {
        border: 1px solid rgb(30 41 59);
        width: 55px;
        height: 22px;
        display: block;
        border-radius: 20px;
        position: relative;
    }

    .toggle-indicator {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        background-color: rgb(30 41 59);
        top: 2px;
        left: 2px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        box-sizing: border-box;
        &::after {
            content: "";
            width: 14px;
            height: 14px;
            border-radius: 50%;
            position: absolute;
            bottom: -3px;
            right: 5px;
            background-color: rgb(30 41 59);
        }
    }
}

#toggle-mode-cb:checked + #mode-wrapper {
    color: darken(white, 50%);
    .toggle-border {
        border-color: white;
    }

    .toggle-indicator {
        background-color: white;
        left: calc(50px - 18px);
        transform: rotate(180deg);
    }
}

nav a.active {
    :nth-child(1) {
        @apply transition-all w-16 bg-slate-800 dark:bg-slate-200;
    }
    :nth-child(2) {
        @apply text-slate-800 dark:text-slate-200;
    }
}

.details-toggle {
    appearance: none;
    display: none;
}

.details-toggle + label:before {
    content: "\25B6";
    display: inline-block;
    transition: transform 0.5s;
}

.details-toggle:checked + label:before {
    transform: rotate(90deg);
    color: rgb(20 184 166);
}

.details-toggle:checked + label {
    color: rgb(20 184 166);
}

.details-toggle ~ .details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s, opacity 0.5s;
}

.details-toggle:checked ~ .details {
    max-height: 100vh;
    opacity: 1;
}
