@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* @apply .light; */
}
/* .dark {
    --color-bg-primary: #2d3748;
    --color-bg-secondary: #283141;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
} */

html {
    scroll-behavior: smooth;
}

.bg-primary {
    @apply bg-neutral-100 dark:bg-slate-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-slate-800 dark:text-white;
}

a {
    @apply text-slate-900 dark:text-white;
}

p {
    @apply text-slate-900 dark:text-white;
}

span {
    @apply text-slate-900 dark:text-white;
}
